<div class="homeimg">
    <img src="images/inicio.png" alt="Slogan">
</div>
<div class="columnas">
    <div class="saludo">
        <h2>Saludo</h2>
        <p>Criaturas de la noche, entes sombrios y amantes de lo paranormal...</p>
    </div>
    <div class="historia">
        <h2>Historia</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi delectus aperiam molestiae illo nemo, sequi
        laborum magni nisi cumque nam doloremque totam dolore tempora harum officiis, quam praesentium adipisci quia?
    </p>
    </div>
<section class="equipo">
    <h2 class="staff">Staff</h2> --}}
    <div class="integrantes">
        <div class="integrante">
            <img src="images/yo.jpg" alt="Joseph">
            <h4>Joseph</h4>
            <p class="presentacion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quia quod, dolorum
                dignissimos corrupti aliquid totam autem minus earum sed, temporibus voluptate, nobis cum voluptas
                reprehenderit rem tempore tenetur omnis.</p>
        </div>
        <div class="integrante">
            <img src="images/pame.jpeg" alt="Pamela">
            <h4>Pamela</h4>
            <p class="presentacion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quia quod, dolorum
                dignissimos corrupti aliquid totam autem minus earum sed, temporibus voluptate, nobis cum voluptas
                reprehenderit rem tempore tenetur omnis.</p>
        </div>
    </div>
    </div>
</section>