<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zona Siniestra</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/zona.css">
</head>
<body>
    <header>
        <div class="logo holder">
            <img src="images/logo.png" alt="Logo Zona Siniestra" width="250">
            <h1>Sitio Oficial</h1>
        </div>
    </header>
    <nav>
        <ul class="holder">
            <li><a class="{{#if isHome}}activo{{/if}}" href="/">Inicio</a></li>
            <li><a class="{{#if isMulti}}activo{{/if}}" href="/multi">Multimedia</a></li>
            <li><a class="{{#if isTienda}}activo{{/if}}" href="/tienda">Tienda</a></li>
            <li><a class="{{#if isHistorias}}activo{{/if}}" href="/historias">Historias</a></li>
            <li><a class="{{#if isContacto}}activo{{/if}}" href="/contacto">Contacto</a></li>
        </ul>
    </nav>
    <main class="holder">
    {{{body}}}
    </main>
    <footer>
        <p>Diseñado por: Joseph Zenteno 2021</p>
    </footer>
  </body>
</html>



