<div class="media">
    <div class="item">
        <h2>Videos</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tyFeI490o5w" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="item1">
        <h2>Podcast</h2>
        <iframe src="https://mx.ivoox.com/es/player_es_podcast_394398_1.html" width="90%"
            style="border: 1px solid #D7D7D7;" height="440" frameborder="0" allowfullscreen="0" scrolling="no"></iframe>
    </div>
    <div class="item">
        <h2>Creepypastas</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qUBFQDw9JTs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="item1">
        <h2>Galería</h2>
        <iframe
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fzonasiniestrafm%2Fphotos%2Fa.1625322094422463%2F1686891931598812%2F%3Ftype%3D3%26av%3D1624836481137691%26eav%3DAfZpsbpWLNo7BZW8LtZqbMUEdc3pvfF0U3SMJtNROSIxuUHlf4hR2Lr750hbL830NhUlQuUI7q3rQ1qWW_ZIHojV&show_text=true&width=500"
            width="440" height="375" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</div>