<section class="productos">
    <h2>Productos</h2>
</section>
<section class="mercancia">
    <div class="cosas">
        <div class="venta">
            <img src="images/tienda/playera.jpg" alt="Playera">
            <h4>Playera</h4>
            <h5>$ 120 mxn</h5>
            <h6>Tallas:</h6>
            <label for="">Talla</label>
            <ul>
                <li>
                    <input type="checkbox" name="talla" value="xs">
                    <label for="">XS</label>
                </li>
                <li>
                    <input type="checkbox" name="talla" value="s">
                    <label for="">S</label>
                </li>
                <li>
                    <input type="checkbox" name="talla" value="m">
                    <label for="">M</label>
                </li>
                <li>
                    <input type="checkbox" name="talla" value="l">
                    <label for="">L</label>
                </li>
                <li>
                    <input type="checkbox" name="talla" value="xl">
                    <label for="">XL</label>
                </li>
            </ul>
            <p class="boton"><input type="submit" value="comprar"></p>
        </div>
        <div class="venta">
            <img src="images/tienda/gorra.jpg" alt="Gorra de beisbol">
            <h4>Gorra</h4>
            <h5>$ 150 mxn</h6>
                <h6>unitalla</h6>
                <p class="boton"><input type="submit" value="comprar"></p>
        </div>
        <div class="venta">
            <img src="images/tienda/plana.jpg" alt="Gorra plana">
            <h4>Gorra plana</h4>
            <h5>$ 170 mxn</h5>
            <h6>unitalla</h6>
            <p class="boton"><input type="submit" value="comprar"></p>
        </div>
        <div class="venta">
            <img src="images/tienda/lana.jpg" alt="Gorro de lana">
            <h4>Gorro de lana</h4>
            <h5>$ 80 mxn</h5>
            <h6>unitalla</h6>
            <p class="boton"><input type="submit" value="comprar"></p>
        </div>
    </div>
</section>
<section class="mercancia">
    <div class="cosas">
        <div class="venta">
            <img src="images/tienda/taza.jpg" alt="Taza">
            <h4>Taza</h4>
            <h5>$ 100 mxn</h5>
            <p class="boton"><input type="submit" value="comprar"></p>
        </div>
        <div class="venta">
            <img src="images/tienda/tarro.jpg" alt="Tarro cervecero">
            <h4>Tarro</h4>
            <h5>$ 150 mxn</h6>
                <p class="boton"><input type="submit" value="comprar"></p>
        </div>
        <div class="venta">
            <img src="images/tienda/vaso.jpg" alt="Vaso de vidrio con tapa">
            <h4>Vaso</h4>
            <h5>$ 170 mxn</h5>
            <p class="boton"><input type="submit" value="comprar"></p>
        </div>
    </div>
</section>